.mkdf-content-bottom .mkdf-content-bottom-inner {-webkit-box-sizing: border-box;box-sizing: border-box;}
.mkdf-content-bottom .mkdf-content-bottom-inner.mkdf-grid {padding: 20px 0;}
.mkdf-content-bottom .mkdf-content-bottom-inner.mkdf-full-width {padding: 20px 40px;}