.elementor-1373 .elementor-element.elementor-element-8c2df06 {padding: 135px 0px 65px 0px;}
.elementor-1373 .elementor-element.elementor-element-bf3ddcc > .elementor-element-populated {padding: 0px 10px 0px 13px;}
.elementor-1373 .elementor-element.elementor-element-5c4206a {--spacer-size: 65px;}
.elementor-1373 .elementor-element.elementor-element-ecf5f05 {--spacer-size: 65px;}
.elementor-1373 .elementor-element.elementor-element-da25168 > .elementor-element-populated {padding: 0px 10px 0px 13px;}
.elementor-1373 .elementor-element.elementor-element-c414750 {--spacer-size: 65px;}
.elementor-1373 .elementor-element.elementor-element-0a825d1 {--spacer-size: 65px;}
.elementor-1373 .elementor-element.elementor-element-2333f3d > .elementor-element-populated {padding: 0px 10px 0px 13px;}
.elementor-1373 .elementor-element.elementor-element-9e397f6 {--spacer-size: 65px;}
.elementor-1373 .elementor-element.elementor-element-910bed6 {--spacer-size: 65px;}
.elementor-1373 .elementor-element.elementor-element-8e48742 {padding: 0px 0px 140px 0px;}
.elementor-1373 .elementor-element.elementor-element-47c747a > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-c13b268 {padding: 120px 0px 105px 0px;}
.elementor-1373 .elementor-element.elementor-element-2013123 {--spacer-size: 35px;}
.elementor-1373 .elementor-element.elementor-element-22cbabf {--spacer-size: 35px;}
.elementor-1373 .elementor-element.elementor-element-2467f00 {--spacer-size: 35px;}
.elementor-1373 .elementor-element.elementor-element-0263021 {--spacer-size: 35px;}
.elementor-1373 .elementor-element.elementor-element-e3454b7 {--spacer-size: 35px;}
.elementor-1373 .elementor-element.elementor-element-2c3a9e1 {padding: 126px 0px 92px 0px;}
.elementor-1373 .elementor-element.elementor-element-36c1556 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-515afc2 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-b7bec8c {padding: 132px 0px 124px 0px;}
.elementor-1373 .elementor-element.elementor-element-b9d57f1 > .elementor-container > .elementor-column > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
.elementor-1373 .elementor-element.elementor-element-4d468ed > .elementor-element-populated {padding: 0% 17% 0% 0%;}
.elementor-1373 .elementor-element.elementor-element-24ed762 {text-align: left;}
.elementor-1373 .elementor-element.elementor-element-4896dd4 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 30% 0% 0%;}
.elementor-1373 .elementor-element.elementor-element-782caaf > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 9% 0% 0%;}
.elementor-1373 .elementor-element.elementor-element-7b96620 > .elementor-widget-container {margin: 5px 0px 11px 0px;}
.elementor-1373 .elementor-element.elementor-element-5594ceb > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-35e3f8d > .elementor-widget-container {margin: 5px 0px 11px 0px;}
.elementor-1373 .elementor-element.elementor-element-495d7a6 > .elementor-container > .elementor-column > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1373 .elementor-element.elementor-element-495d7a6 {padding: 103px 0px 143px 0px;}
.elementor-1373 .elementor-element.elementor-element-f7f78b4 {--spacer-size: 7px;}
.elementor-1373 .elementor-element.elementor-element-907ab1e {padding: 140px 0px 80px 0px;}
.elementor-1373 .elementor-element.elementor-element-6e2c051 > .elementor-element-populated {padding: 0% 5% 0% 5%;}
.elementor-1373 .elementor-element.elementor-element-da27176 {--spacer-size: 50px;}
.elementor-1373 .elementor-element.elementor-element-a116fe4 > .elementor-element-populated {padding: 0% 5% 0% 5%;}
.elementor-1373 .elementor-element.elementor-element-d3610f8 {--spacer-size: 50px;}
.elementor-1373 .elementor-element.elementor-element-7f9fda8 > .elementor-element-populated {padding: 0px 5px 0px 5px;}
.elementor-1373 .elementor-element.elementor-element-2743aa9 {--spacer-size: 50px;}
.elementor-1373 .elementor-element.elementor-element-9912cdc > .elementor-element-populated {padding: 0px 5px 0px 5px;}
.elementor-1373 .elementor-element.elementor-element-2296fb5 {--spacer-size: 50px;}
.elementor-1373 .elementor-element.elementor-element-d2797df {padding: 126px 0px 92px 0px;}
.elementor-1373 .elementor-element.elementor-element-5c4d048 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-a38dbdf {margin-top: 0px;margin-bottom: 0px;padding: 0% 4% 7.5% 4%;}
.elementor-1373 .elementor-element.elementor-element-1975263 > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0% 13% 0% 13%;}
.elementor-1373 .elementor-element.elementor-element-ea08de8 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-c61ac63 > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0% 13% 0% 13%;}
.elementor-1373 .elementor-element.elementor-element-2344320 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-7f6d2d5 > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0% 13% 0% 13%;}
.elementor-1373 .elementor-element.elementor-element-5876342 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-747dffc {padding: 130px 0px 140px 0px;}
.elementor-1373 .elementor-element.elementor-element-6f0e2f8 > .elementor-element-populated {padding: 10px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-d94837c > .elementor-element-populated {padding: 0px 60px 0px 90px;}
.elementor-1373 .elementor-element.elementor-element-10a128f > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-988eba7 > .elementor-widget-container {margin: 33px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-4e6baf8 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1373 .elementor-element.elementor-element-c4c6916 > .elementor-widget-container {margin: 33px 0px 0px 0px;}
@media (min-width:768px) {.elementor-1373 .elementor-element.elementor-element-53e147d {width: 100%;}
	.elementor-1373 .elementor-element.elementor-element-4d468ed {width: 59%;}
	.elementor-1373 .elementor-element.elementor-element-8e1cf85 {width: 23.405%;}
	.elementor-1373 .elementor-element.elementor-element-5594ceb {width: 13.6%;}}
@media (max-width:1024px) {.elementor-1373 .elementor-element.elementor-element-bf3ddcc > .elementor-element-populated {padding: 0px 50px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-da25168 > .elementor-element-populated {padding: 0px 50px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-2333f3d > .elementor-element-populated {padding: 0px 50px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-4d468ed > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0px 70px 35px 0px;}
	.elementor-1373 .elementor-element.elementor-element-4896dd4 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 28% 0% 0%;}
	.elementor-1373 .elementor-element.elementor-element-782caaf > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 8% 0% 0%;}
	.elementor-1373 .elementor-element.elementor-element-6e2c051 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-a116fe4 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-7f9fda8 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-9912cdc > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-ea08de8 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-2344320 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 50px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-5876342 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 50px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-6f0e2f8 > .elementor-element-populated {padding: 0px 0px 70px 0px;}
	.elementor-1373 .elementor-element.elementor-element-d94837c > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-942b2f9 {padding: 25px 140px 0px 0px;}}
@media (max-width:767px) {.elementor-1373 .elementor-element.elementor-element-bf3ddcc > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-da25168 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-2333f3d > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-4d468ed > .elementor-element-populated {padding: 0px 0px 35px 0px;}
	.elementor-1373 .elementor-element.elementor-element-4896dd4 > .elementor-widget-container {padding: 0% 7% 0% 0%;}
	.elementor-1373 .elementor-element.elementor-element-782caaf > .elementor-widget-container {padding: 0px 0px 0px 0px;}
	.elementor-1373 .elementor-element.elementor-element-8e1cf85 > .elementor-element-populated {padding: 0px 0px 30px 0px;}
	.elementor-1373 .elementor-element.elementor-element-1975263 > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0px 10px 0px 10px;}
	.elementor-1373 .elementor-element.elementor-element-c61ac63 > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0px 10px 0px 10px;}
	.elementor-1373 .elementor-element.elementor-element-7f6d2d5 > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0px 10px 0px 10px;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-1373 .elementor-element.elementor-element-bf3ddcc {width: 100%;}
	.elementor-1373 .elementor-element.elementor-element-da25168 {width: 100%;}
	.elementor-1373 .elementor-element.elementor-element-2333f3d {width: 100%;}
	.elementor-1373 .elementor-element.elementor-element-e8df9c3 {width: 33%;}
	.elementor-1373 .elementor-element.elementor-element-64bf29c {width: 33%;}
	.elementor-1373 .elementor-element.elementor-element-9a76ae9 {width: 33%;}
	.elementor-1373 .elementor-element.elementor-element-9253c99 {width: 50%;}
	.elementor-1373 .elementor-element.elementor-element-ac0490a {width: 50%;}
	.elementor-1373 .elementor-element.elementor-element-4d468ed {width: 100%;}
	.elementor-1373 .elementor-element.elementor-element-8e1cf85 {width: 33.33333333%;}
	.elementor-1373 .elementor-element.elementor-element-5594ceb {width: 33.33333333%;}
	.elementor-1373 .elementor-element.elementor-element-6e2c051 {width: 50%;}
	.elementor-1373 .elementor-element.elementor-element-a116fe4 {width: 50%;}
	.elementor-1373 .elementor-element.elementor-element-7f9fda8 {width: 50%;}
	.elementor-1373 .elementor-element.elementor-element-9912cdc {width: 50%;}
	.elementor-1373 .elementor-element.elementor-element-1975263 {width: 100%;}
	.elementor-1373 .elementor-element.elementor-element-c61ac63 {width: 100%;}
	.elementor-1373 .elementor-element.elementor-element-7f6d2d5 {width: 100%;}
	.elementor-1373 .elementor-element.elementor-element-6f0e2f8 {width: 100%;}
	.elementor-1373 .elementor-element.elementor-element-d94837c {width: 100%;}}