.elementor-994 .elementor-element.elementor-element-9d62d39 > .elementor-container > .elementor-column > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-994 .elementor-element.elementor-element-9d62d39 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 0% 4.4% 0% 4.4%;}
.elementor-994 .elementor-element.elementor-element-9d62d39 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-994 .elementor-element.elementor-element-b63efb8 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-994 .elementor-element.elementor-element-05c9bba > .elementor-element-populated {padding: 12.3% 0% 12.3% 12%;}
.elementor-994 .elementor-element.elementor-element-2bbb1c8 {padding: 150px 0px 150px 0px;}
.elementor-994 .elementor-element.elementor-element-e3b6a60 > .elementor-element-populated {padding: 0px 20px 0px 0px;}
.elementor-994 .elementor-element.elementor-element-1da0768 > .elementor-element-populated {padding: 0px 10px 0px 10px;}
.elementor-994 .elementor-element.elementor-element-5a343a5 > .elementor-element-populated {padding: 0px 0px 0px 20px;}
.elementor-994 .elementor-element.elementor-element-f12885d {padding: 0px 0px 135px 0px;}
.elementor-994 .elementor-element.elementor-element-548d19ea > .elementor-container > .elementor-column > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
.elementor-994 .elementor-element.elementor-element-4d3c68d1 > .elementor-element-populated {padding: 0% 17% 0% 0%;}
.elementor-994 .elementor-element.elementor-element-5dac5db9 {text-align: left;}
.elementor-994 .elementor-element.elementor-element-472c3f44 {--spacer-size: 5px;}
.elementor-994 .elementor-element.elementor-element-340da6e6 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 30% 0% 0%;}
.elementor-994 .elementor-element.elementor-element-45f66be7 {--spacer-size: 4px;}
.elementor-994 .elementor-element.elementor-element-7303cf24 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 9% 0% 0%;}
.elementor-994 .elementor-element.elementor-element-40a3e1b3 > .elementor-widget-container {margin: 5px 0px 11px 0px;}
.elementor-994 .elementor-element.elementor-element-66b94b38 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-994 .elementor-element.elementor-element-621673e3 > .elementor-widget-container {margin: 5px 0px 11px 0px;}
.elementor-994 .elementor-element.elementor-element-b9785f2 > .elementor-container {min-height: 58vh;}
.elementor-994 .elementor-element.elementor-element-b9785f2 > .elementor-container > .elementor-column > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-994 .elementor-element.elementor-element-628d36f2 {padding: 140px 0px 147px 0px;}
.elementor-994 .elementor-element.elementor-element-65fe9e5e > .elementor-element-populated {padding: 10px 0px 0px 0px;}
.elementor-994 .elementor-element.elementor-element-405c34f3 > .elementor-element-populated {padding: 0px 60px 0px 90px;}
.elementor-994 .elementor-element.elementor-element-24ab8124 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-994 .elementor-element.elementor-element-4de087f4 > .elementor-widget-container {margin: 33px 0px 0px 0px;}
.elementor-994 .elementor-element.elementor-element-63858cd7 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-994 .elementor-element.elementor-element-3199700c > .elementor-widget-container {margin: 33px 0px 0px 0px;}
@media (max-width:1024px) {.elementor-994 .elementor-element.elementor-element-e3b6a60 > .elementor-element-populated {padding: 0px 0px 50px 0px;}
	.elementor-994 .elementor-element.elementor-element-1da0768 > .elementor-element-populated {padding: 0px 0px 50px 0px;}
	.elementor-994 .elementor-element.elementor-element-5a343a5 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-994 .elementor-element.elementor-element-4d3c68d1 > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0px 70px 25px 0px;}
	.elementor-994 .elementor-element.elementor-element-340da6e6 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 28% 0% 0%;}
	.elementor-994 .elementor-element.elementor-element-7303cf24 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 8% 0% 0%;}
	.elementor-994 .elementor-element.elementor-element-b9785f2 > .elementor-container {min-height: 53vh;}
	.elementor-994 .elementor-element.elementor-element-65fe9e5e > .elementor-element-populated {padding: 0px 0px 70px 0px;}
	.elementor-994 .elementor-element.elementor-element-405c34f3 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-994 .elementor-element.elementor-element-2a681a60 {padding: 25px 140px 0px 0px;}}
@media (max-width:767px) {.elementor-994 .elementor-element.elementor-element-4d3c68d1 > .elementor-element-populated {padding: 0px 0px 25px 0px;}
	.elementor-994 .elementor-element.elementor-element-340da6e6 > .elementor-widget-container {padding: 0% 7% 0% 0%;}
	.elementor-994 .elementor-element.elementor-element-7303cf24 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
	.elementor-994 .elementor-element.elementor-element-1b9700ee > .elementor-element-populated {padding: 0px 0px 30px 0px;}
	.elementor-994 .elementor-element.elementor-element-b9785f2 > .elementor-container {min-height: 51vh;}}
@media (min-width:768px) {.elementor-994 .elementor-element.elementor-element-1dfa6422 {width: 100%;}
	.elementor-994 .elementor-element.elementor-element-4d3c68d1 {width: 59%;}
	.elementor-994 .elementor-element.elementor-element-1b9700ee {width: 23.405%;}
	.elementor-994 .elementor-element.elementor-element-66b94b38 {width: 13.6%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-994 .elementor-element.elementor-element-e3b6a60 {width: 100%;}
	.elementor-994 .elementor-element.elementor-element-1da0768 {width: 100%;}
	.elementor-994 .elementor-element.elementor-element-5a343a5 {width: 100%;}
	.elementor-994 .elementor-element.elementor-element-4d3c68d1 {width: 100%;}
	.elementor-994 .elementor-element.elementor-element-1b9700ee {width: 33.33333333%;}
	.elementor-994 .elementor-element.elementor-element-66b94b38 {width: 33.33333333%;}
	.elementor-994 .elementor-element.elementor-element-65fe9e5e {width: 100%;}
	.elementor-994 .elementor-element.elementor-element-405c34f3 {width: 100%;}}