.elementor-1198 .elementor-element.elementor-element-0087911 {margin-top: -54px;margin-bottom: 0px;padding: 0px 0px 0px 0px;}
.elementor-1198 .elementor-element.elementor-element-3ee6bf4 > .elementor-element-populated {padding: 0px 20px 0px 0px;}
.elementor-1198 .elementor-element.elementor-element-2d925bd > .elementor-element-populated {padding: 0px 10px 0px 10px;}
.elementor-1198 .elementor-element.elementor-element-3122942 > .elementor-element-populated {padding: 0px 0px 0px 20px;}
.elementor-1198 .elementor-element.elementor-element-5f9a778 {padding: 132px 0px 124px 0px;}
.elementor-1198 .elementor-element.elementor-element-b5668df > .elementor-container > .elementor-column > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
.elementor-1198 .elementor-element.elementor-element-8fe48c1 > .elementor-element-populated {padding: 0% 17% 0% 0%;}
.elementor-1198 .elementor-element.elementor-element-e006349 {text-align: left;}
.elementor-1198 .elementor-element.elementor-element-47a320d > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 30% 0% 0%;}
.elementor-1198 .elementor-element.elementor-element-ac24d16 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 9% 0% 0%;}
.elementor-1198 .elementor-element.elementor-element-967223e > .elementor-widget-container {margin: 5px 0px 11px 0px;}
.elementor-1198 .elementor-element.elementor-element-3ef5e14 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1198 .elementor-element.elementor-element-d4b8879 > .elementor-widget-container {margin: 5px 0px 11px 0px;}
.elementor-1198 .elementor-element.elementor-element-77cc094 {padding: 0px 30px 140px 30px;}
.elementor-1198 .elementor-element.elementor-element-abdbd17 > .elementor-element-populated {padding: 0px 10px 0px 13px;}
.elementor-1198 .elementor-element.elementor-element-569ccb2 {--spacer-size: 65px;}
.elementor-1198 .elementor-element.elementor-element-00b2909 {--spacer-size: 65px;}
.elementor-1198 .elementor-element.elementor-element-490e817 > .elementor-element-populated {padding: 0px 10px 0px 13px;}
.elementor-1198 .elementor-element.elementor-element-48faded {--spacer-size: 65px;}
.elementor-1198 .elementor-element.elementor-element-7076698 {--spacer-size: 65px;}
.elementor-1198 .elementor-element.elementor-element-55dafce > .elementor-element-populated {padding: 0px 10px 0px 13px;}
.elementor-1198 .elementor-element.elementor-element-8797075 {--spacer-size: 65px;}
.elementor-1198 .elementor-element.elementor-element-8b5bc96 {--spacer-size: 65px;}
.elementor-1198 .elementor-element.elementor-element-a796734 {padding: 66px 0px 94px 0px;}
.elementor-1198 .elementor-element.elementor-element-5dddab6 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1198 .elementor-element.elementor-element-fedc091 {padding: 0px 0px 140px 0px;}
.elementor-1198 .elementor-element.elementor-element-61deca0 > .elementor-container {min-height: 58vh;}
.elementor-1198 .elementor-element.elementor-element-61deca0 > .elementor-container > .elementor-column > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1198 .elementor-element.elementor-element-66f855b {padding: 126px 0px 95px 0px;}
.elementor-1198 .elementor-element.elementor-element-1e36217 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1198 .elementor-element.elementor-element-9bb11dc {padding: 0px 0px 140px 0px;}
.elementor-1198 .elementor-element.elementor-element-a899875 {padding: 140px 0px 120px 0px;}
.elementor-1198 .elementor-element.elementor-element-a8979f1 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1198 .elementor-element.elementor-element-38154cb {padding: 20px 0px 0px 0px;}
.elementor-1198 .elementor-element.elementor-element-7e8e83a > .elementor-element-populated {padding: 0% 30% 0% 30%;}
.elementor-1198 .elementor-element.elementor-element-99522e4 {padding: 140px 0px 80px 0px;}
.elementor-1198 .elementor-element.elementor-element-60237b5 > .elementor-element-populated {padding: 0% 5% 0% 5%;}
.elementor-1198 .elementor-element.elementor-element-fcdd485 {--spacer-size: 50px;}
.elementor-1198 .elementor-element.elementor-element-e21cf25 > .elementor-element-populated {padding: 0% 5% 0% 5%;}
.elementor-1198 .elementor-element.elementor-element-c1ceff3 {--spacer-size: 50px;}
.elementor-1198 .elementor-element.elementor-element-170f2df > .elementor-element-populated {padding: 0px 5px 0px 5px;}
.elementor-1198 .elementor-element.elementor-element-16a92e4 {--spacer-size: 50px;}
.elementor-1198 .elementor-element.elementor-element-4ccbaae > .elementor-element-populated {padding: 0px 5px 0px 5px;}
.elementor-1198 .elementor-element.elementor-element-129b3ee {--spacer-size: 50px;}
.elementor-1198 .elementor-element.elementor-element-51b7c8a {margin-top: 0px;margin-bottom: 0px;}
.elementor-1198 .elementor-element.elementor-element-eff87f9 > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0px 0px 0px 0px;}
.elementor-1198 .elementor-element.elementor-element-8ccc9bc {margin-top: 0px;margin-bottom: 0px;padding: 160px 0px 160px 0px;}
.elementor-1198 .elementor-element.elementor-element-c99e694 > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0% 9% 0% 9%;}
.elementor-1198 .elementor-element.elementor-element-b6f2477 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 120px 0px 120px 0px;}
.elementor-1198 .elementor-element.elementor-element-b6f2477 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
@media (max-width:1024px) {.elementor-1198 .elementor-element.elementor-element-3ee6bf4 > .elementor-element-populated {padding: 0px 0px 50px 0px;}
	.elementor-1198 .elementor-element.elementor-element-2d925bd > .elementor-element-populated {padding: 0px 0px 50px 0px;}
	.elementor-1198 .elementor-element.elementor-element-3122942 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-8fe48c1 > .elementor-element-populated {margin: 0px 0px 0px 0px;--e-column-margin-right: 0px;--e-column-margin-left: 0px;padding: 0px 70px 35px 0px;}
	.elementor-1198 .elementor-element.elementor-element-47a320d > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 28% 0% 0%;}
	.elementor-1198 .elementor-element.elementor-element-ac24d16 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0% 8% 0% 0%;}
	.elementor-1198 .elementor-element.elementor-element-abdbd17 > .elementor-element-populated {padding: 0px 50px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-490e817 > .elementor-element-populated {padding: 0px 50px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-55dafce > .elementor-element-populated {padding: 0px 50px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-61deca0 > .elementor-container {min-height: 53vh;}
	.elementor-1198 .elementor-element.elementor-element-60237b5 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-e21cf25 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-170f2df > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-4ccbaae > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-8ccc9bc {padding: 175px 0px 175px 0px;}
	.elementor-1198 .elementor-element.elementor-element-c99e694 > .elementor-element-populated {padding: 0% 0% 0% 0%;}}
@media (max-width:767px) {.elementor-1198 .elementor-element.elementor-element-8fe48c1 > .elementor-element-populated {padding: 0px 0px 35px 0px;}
	.elementor-1198 .elementor-element.elementor-element-47a320d > .elementor-widget-container {padding: 0% 7% 0% 0%;}
	.elementor-1198 .elementor-element.elementor-element-ac24d16 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-fb4dcd7 > .elementor-element-populated {padding: 0px 0px 30px 0px;}
	.elementor-1198 .elementor-element.elementor-element-abdbd17 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-490e817 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-55dafce > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1198 .elementor-element.elementor-element-61deca0 > .elementor-container {min-height: 51vh;}
	.elementor-1198 .elementor-element.elementor-element-8ccc9bc {padding: 175px 0px 175px 0px;}
	.elementor-1198 .elementor-element.elementor-element-c99e694 > .elementor-element-populated {padding: 0% 0% 0% 0%;}}
@media (min-width:768px) {.elementor-1198 .elementor-element.elementor-element-2abcede {width: 100%;}
	.elementor-1198 .elementor-element.elementor-element-8fe48c1 {width: 59%;}
	.elementor-1198 .elementor-element.elementor-element-fb4dcd7 {width: 23.405%;}
	.elementor-1198 .elementor-element.elementor-element-3ef5e14 {width: 13.6%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-1198 .elementor-element.elementor-element-3ee6bf4 {width: 100%;}
	.elementor-1198 .elementor-element.elementor-element-2d925bd {width: 100%;}
	.elementor-1198 .elementor-element.elementor-element-3122942 {width: 100%;}
	.elementor-1198 .elementor-element.elementor-element-8fe48c1 {width: 100%;}
	.elementor-1198 .elementor-element.elementor-element-fb4dcd7 {width: 33.33333333%;}
	.elementor-1198 .elementor-element.elementor-element-3ef5e14 {width: 33.33333333%;}
	.elementor-1198 .elementor-element.elementor-element-abdbd17 {width: 100%;}
	.elementor-1198 .elementor-element.elementor-element-490e817 {width: 100%;}
	.elementor-1198 .elementor-element.elementor-element-55dafce {width: 100%;}
	.elementor-1198 .elementor-element.elementor-element-60237b5 {width: 50%;}
	.elementor-1198 .elementor-element.elementor-element-e21cf25 {width: 50%;}
	.elementor-1198 .elementor-element.elementor-element-170f2df {width: 50%;}
	.elementor-1198 .elementor-element.elementor-element-4ccbaae {width: 50%;}}