.elementor-1035 .elementor-element.elementor-element-1dad78e > .elementor-container > .elementor-column > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1035 .elementor-element.elementor-element-1dad78e {padding: 150px 0px 150px 0px;}
.elementor-1035 .elementor-element.elementor-element-8f193fa > .elementor-element-populated {padding: 0% 23% 0% 0%;}
.elementor-1035 .elementor-element.elementor-element-d807eee > .elementor-element-populated {padding: 0px 0px 0px 13px;}
.elementor-1035 .elementor-element.elementor-element-3f00a151 {padding: 140px 0px 80px 0px;}
.elementor-1035 .elementor-element.elementor-element-7a96f594 > .elementor-element-populated {padding: 0% 5% 0% 5%;}
.elementor-1035 .elementor-element.elementor-element-1ae6f0eb {--spacer-size: 50px;}
.elementor-1035 .elementor-element.elementor-element-3ae19a66 > .elementor-element-populated {padding: 0% 5% 0% 5%;}
.elementor-1035 .elementor-element.elementor-element-3c33c42e {--spacer-size: 50px;}
.elementor-1035 .elementor-element.elementor-element-66ae3a80 > .elementor-element-populated {padding: 0px 5px 0px 5px;}
.elementor-1035 .elementor-element.elementor-element-737f596a {--spacer-size: 50px;}
.elementor-1035 .elementor-element.elementor-element-64fbb810 > .elementor-element-populated {padding: 0px 5px 0px 5px;}
.elementor-1035 .elementor-element.elementor-element-653d9f79 {--spacer-size: 50px;}
.elementor-1035 .elementor-element.elementor-element-d348d76 {padding: 150px 0px 150px 0px;}
.elementor-1035 .elementor-element.elementor-element-bd9a4ef > .elementor-element-populated {padding: 0px 18px 0px 0px;}
.elementor-1035 .elementor-element.elementor-element-b1e9843 > .elementor-element-populated {padding: 0px 0px 0px 40px;}
.elementor-1035 .elementor-element.elementor-element-1a93fa3 {padding: 120px 0px 140px 0px;}
.elementor-1035 .elementor-element.elementor-element-a4d1e67 > .elementor-element-populated {padding: 0px 0px 0px 43px;}
.elementor-1035 .elementor-element.elementor-element-ab02692 > .elementor-element-populated {padding: 0px 0px 0px 67px;}
.elementor-1035 .elementor-element.elementor-element-4993ad3 > .elementor-element-populated {padding: 0px 0px 0px 90px;}
.elementor-1035 .elementor-element.elementor-element-1910338 > .elementor-element-populated {padding: 0px 0px 0px 117px;}
.elementor-1035 .elementor-element.elementor-element-89f64b4 > .elementor-container > .elementor-column > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1035 .elementor-element.elementor-element-89f64b4 {padding: 150px 0px 150px 0px;}
.elementor-1035 .elementor-element.elementor-element-5f73b66 > .elementor-element-populated {padding: 0px 50px 0px 0px;}
.elementor-1035 .elementor-element.elementor-element-37e7c96 {--spacer-size: 17px;}
.elementor-1035 .elementor-element.elementor-element-cd5afbe {--spacer-size: 8px;}
.elementor-1035 .elementor-element.elementor-element-727fd1a > .elementor-element-populated {padding: 0px 0px 0px 15px;}
@media (max-width:1024px) and (min-width:768px) {.elementor-1035 .elementor-element.elementor-element-8f193fa {width: 100%;}
	.elementor-1035 .elementor-element.elementor-element-d807eee {width: 100%;}
	.elementor-1035 .elementor-element.elementor-element-7a96f594 {width: 50%;}
	.elementor-1035 .elementor-element.elementor-element-3ae19a66 {width: 50%;}
	.elementor-1035 .elementor-element.elementor-element-66ae3a80 {width: 50%;}
	.elementor-1035 .elementor-element.elementor-element-64fbb810 {width: 50%;}
	.elementor-1035 .elementor-element.elementor-element-bd9a4ef {width: 100%;}
	.elementor-1035 .elementor-element.elementor-element-b1e9843 {width: 100%;}
	.elementor-1035 .elementor-element.elementor-element-a4d1e67 {width: 50%;}
	.elementor-1035 .elementor-element.elementor-element-ab02692 {width: 50%;}
	.elementor-1035 .elementor-element.elementor-element-4993ad3 {width: 50%;}
	.elementor-1035 .elementor-element.elementor-element-1910338 {width: 50%;}
	.elementor-1035 .elementor-element.elementor-element-5f73b66 {width: 100%;}
	.elementor-1035 .elementor-element.elementor-element-727fd1a {width: 100%;}}
@media (max-width:1024px) {.elementor-1035 .elementor-element.elementor-element-8f193fa > .elementor-element-populated {padding: 0px 0px 80px 0px;}
	.elementor-1035 .elementor-element.elementor-element-d807eee > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1035 .elementor-element.elementor-element-7a96f594 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1035 .elementor-element.elementor-element-3ae19a66 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1035 .elementor-element.elementor-element-66ae3a80 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1035 .elementor-element.elementor-element-64fbb810 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1035 .elementor-element.elementor-element-bd9a4ef > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-1035 .elementor-element.elementor-element-b1e9843 > .elementor-element-populated {padding: 30px 0px 0px 0px;}
	.elementor-1035 .elementor-element.elementor-element-a4d1e67 > .elementor-element-populated {padding: 0px 0px 40px 30px;}
	.elementor-1035 .elementor-element.elementor-element-ab02692 > .elementor-element-populated {padding: 0px 0px 40px 100px;}
	.elementor-1035 .elementor-element.elementor-element-4993ad3 > .elementor-element-populated {padding: 0px 0px 0px 30px;}
	.elementor-1035 .elementor-element.elementor-element-1910338 > .elementor-element-populated {padding: 0px 0px 0px 100px;}
	.elementor-1035 .elementor-element.elementor-element-5f73b66 > .elementor-element-populated {padding: 0px 30px 80px 0px;}
	.elementor-1035 .elementor-element.elementor-element-727fd1a > .elementor-element-populated {padding: 0px 0px 0px 0px;}}
@media (max-width:767px) {.elementor-1035 .elementor-element.elementor-element-a4d1e67 > .elementor-element-populated {padding: 0px 0px 10px 10px;}
	.elementor-1035 .elementor-element.elementor-element-ab02692 > .elementor-element-populated {padding: 0px 0px 10px 10px;}
	.elementor-1035 .elementor-element.elementor-element-4993ad3 > .elementor-element-populated {padding: 0px 0px 10px 10px;}
	.elementor-1035 .elementor-element.elementor-element-1910338 > .elementor-element-populated {padding: 0px 0px 0px 10px;}
	.elementor-1035 .elementor-element.elementor-element-5f73b66 > .elementor-element-populated {padding: 0px 0px 0px 0px;}}