.elementor-1372 .elementor-element.elementor-element-7c21d46 {padding: 4px 0px 30px 0px;}
.elementor-1372 .elementor-element.elementor-element-99011e6 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1372 .elementor-element.elementor-element-4083195 > .elementor-widget-container {padding: 2px 0px 5px 0px;}
.elementor-1372 .elementor-element.elementor-element-9103d82 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1372 .elementor-element.elementor-element-1e072c2 {padding: 23px 0px 30px 0px;}
.elementor-1372 .elementor-element.elementor-element-0388d4e > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-1372 .elementor-element.elementor-element-3c1e3cb > .elementor-widget-container {padding: 9px 0px 11px 0px;}